{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base title{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Reviews/styles/base.css' %}">
    {% block site_styles %}
    {% endblock %}
</head>
<body>
<div class="menu">
{% block menu %}
    <span class="menu-base"><a href="{% url 'index' %}">Homepage</a></span>
    <span class="menu-base"><a href="{% url 'search' %}">Search</a></span>
{% endblock %}
</div>
{% block header %}
<header>
Base header
</header>
{% endblock %}
{% block main %}
<main>
Base main
</main>
{% endblock %}
<footer>
    ©<span id="year"></span>&nbsp; Lush Projects - Radosław Bujny
</footer>
<script src="{% static 'Reviews/scripts/base.js' %}"></script>
{% block scrpits %}
{% endblock %}
</body>
</html>