{% extends 'Reviews/base.html' %}
{% load static %}
{% block site_styles %}
    <link rel="stylesheet" href="{% static 'Reviews/styles/hero.css' %}">
{% endblock %}
{% block title %} RTH - {{ hero.name }} {% endblock %}
{% block header %}<h1>{{ hero.name }}</h1>{% endblock %}
{% block main %}
    <div class="content">
    <img src="../files/{{ hero.img }}" alt="{{ hero.name }}">
    <br>
    <h2>Numbers of Reviews: {{ hero.numbers }}
        <br>
        <a href="{% url 'addRev' hero.id %}">Rate now!</a>
    </h2><br>
    <ul>
    <li>Name: {{ hero.name }} </li>
    <li>Real name: {{ hero.real_name }} </li>
    <li>Universe: {{ hero.universe.name }} </li>
    <li>Rating: {% widthratio hero.quantity hero.numbers 1 %}</li>
    </ul>
    <h2>Description</h2>
    <div class="desc">
        {{ hero.desc }}
    </div>
    <h2>Superpowers</h2>
    <div class="superpowers">
    {{ hero.superpowers }}
    </div>
    {% if best_reviews.all and last_reviews.all %}
    <div class="reviews">
    <h2>Best reviews</h2>
    <table>
    <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Review</th>
    </tr>
        {% for review in best_reviews %}
            {% include "Reviews/revtable.html" with name=review.name rating=review.rating text=review.text id=review.id %}
        {% endfor %}
    </table>
    </div>
    <div class="reviews">
    <h2>Last reviews</h2>
        <table>
    <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Review</th>
    </tr>
        {% for review in last_reviews %}
            {% include "Reviews/revtable.html" with name=review.name rating=review.rating text=review.text id=review.id %}
        {% endfor %}
    </table>
    </div>
        {% endif %}
    </div>
{% endblock %}