{% extends 'Reviews/base.html' %}
{% load static %}

{% block title %}Rate the Heroes{% endblock %}
{% block site_styles %}
    <link rel="stylesheet" href="{% static 'Reviews/styles/index.css' %}">
{% endblock %}
{% block menu %}
    <div class="menu">
    <span class="menu-item"><a href="{% url 'index' %}">Homepage</a></span>
    <span class="menu-item"><a href="{% url 'search' %}">Search</a></span>
    {% if username == '' %}
        <span class="menu-item"><a href="{% url 'login' %}">Log in</a></span>
    {% else %}
        <span class="menu-item"><a href="{% url 'myProfile' username %}">My profile</a></span>
            <span class="menu-item"><a href="{% url 'logout' %}">Log out</a></span>
    {% endif %}
    </div>
{% endblock %}
{% block header %}
    <h1 class="trans">Rate the Heroes</h1>
{% endblock %}
{% block main %}
            <h2 class="trans">Universal</h2>
    <div class="universe-select">
        {% for universe in universal %}
            <div class="universe">
            <a href="{% url 'universe' universe.slug %}">
                <img src="files/{{ universe.img }}" alt="{{ universe.name }}">
            </a>
            </div>
        {% endfor %}
    </div>
        <h2 class="trans">Most rated heroes</h2>
        <div class="heroes">
        {% for hero in mostRated %}
            <div class="hero most-rated">
            <a href="{% url 'hero' hero.id %}"><img src="files/{{ hero.img }}" alt="{{ hero.name }}"></a>
                <br>
                <b>{{ hero.name }}</b>
            </div>
        {% endfor %}
        </div>
        <h2>Best rated heroes</h2>
        <div class="heroes">
        {% for hero in bestRated %}
            <div class="hero best-rated">
            <a href="{% url 'hero' hero.id %}"> <img src="files/{{ hero.img }}" alt="{{ hero.name }}"></a>
            <br>
                <b>{{ hero.name }}</b>
                <br>
            {{ hero.avg|floatformat:2 }} / 10
            </div>
        {% endfor %}
    </div>
{% endblock %}