{% extends 'Reviews/base.html' %}
{% load static %}

{% block title %}Rate the Heroes{% endblock %}
{% block header %}
Rate the Heroes
    <button>Log in</button>
{% endblock %}
{% block main %}
    <div id="universe-select">
    <a href=""><img src="" alt="Marvel"></a>
    <a href=""><img src="" alt="DC"></a>
    <a href=""><img src="" alt="The Boys"></a>
    </div>
    <div id="most-rated-heroes">
    <img src="" alt="ironman"> Iron Man
    <img src="" alt="homelander"> Homelander
    <img src="" alt="superman"> Superman
    </div>
    <div id="best-rated-heroes">
    <img src="" alt="ironman"> Iron Man
    <img src="" alt="starlight"> Starlight
    <img src="" alt="wonderwomen"> Wonder Women
    </div>
    <div id="most-users">
        <b>HulkLover972</b> 322 reviews
        <b>Brian_the_goat</b> 289 reviews
        <b>Marvel_fannnn</b> 222 reviews
    </div>
{% endblock %}