{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base title{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Reviews/styles/base.css' %}">
    {% block site_styles %}
    {% endblock %}
</head>
{% block header %}
<header>
Base header
</header>
{% endblock %}
<body>
{% block main %}
<main>
Base main
</main>
{% endblock %}
<footer>
    © <span id="year">2023</span> Lush Projects - Radosław Bujny
</footer>
</body>
</html>