{% extends 'Reviews/base.html' %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block site_styles %}
    <link rel="stylesheet" href="{% static 'Users/styles/logreg.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="form-position">
        <div class="form-content">
        <h2>Log in to your account</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username...">
        <br>
        <input type="password" name="password" placeholder="Password..." >
        <br>
        <input type="submit" value="Login">
    </form>
        <div class="messages">
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
        </div>
            <span class="has-acc">Don't have an account?</span> <br>
        <span class="toBold"><a href="{% url 'register' %}">Sign Up</a></span>
        </div>
    </div>
{% endblock %}